YANDEX_SECURITY_URL=https://id.yandex.ru/security/app-passwords

ENCRYPTION_KEY= #Random encryption key

GIGACHAT_CREDENTIALS= #GigaChat API

POSTGRES_USER= #DataBase User
POSTGRES_PASSWORD= #DataBase Password
POSTGRES_DB= #DataBase Name