YANDEX_SECURITY_URL=https://id.yandex.ru/security/app-passwords

# БЕЗОПАСНОСТЬ
ENCRYPTION_KEY=*

GIGACHAT_CREDENTIALS=*

# === НАСТРОЙКИ БАЗЫ ДАННЫХ (Для Docker Compose) ===
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=odoo_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# === НАСТРОЙКИ ODOO ===
ODOO_MASTER=*

# === НАСТРОЙКИ ДЛЯ ИИ-АГЕНТА (Подключение извне через Nginx) ===
ODOO_HOST = *
ODOO_PORT = 443
DB_NAME = odoo_db
ODOO_USER = odoo@ya.ru
ODOO_PASS = odoo